body {
    background-color: rgb(27, 27, 27);
}
h1 {
    color: rgb(255, 255, 255);
    text-align: center;

    font-family: "Comfortaa", sans-serif;
    font-weight: 800;
    margin:auto;
}
#introdiv {
    margin: 10px;
    padding: 100px 10%;
    background-image: url(images/aurora.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#introtext {
    text-align: center;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
    font-size: 4vw;
}
.frostedglass {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    border: solid rgba(0, 0, 0, 0);
    border-radius: 2vw;
    padding: 1vw;
}
#gitlink {
    font-family: "Comfortaa", sans-serif;
    color:aqua;
    text-align: center;
    font-size: 2vw;
    display: block;
    margin: -3vw 30% 0;
    padding:0.5vw
} /* styling this made me actually want to end it
