body {
    background-color: rgb(27, 27, 27);
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;

    font-family: "Comfortaa", sans-serif;
    font-weight: 800;
    margin:auto;
}
#introdiv {
    background-image: url(images/aurora.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 -8px;
}
#introtext {
    text-align: center;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
    font-size: 4vw;
    margin: auto;
}

.frostedglass {
    background-color: rgba(0, 0, 0, 0.425);
    backdrop-filter: blur(10px);
    border: solid rgba(0, 0, 0, 0);
    border-radius: 2vw;
    padding: 1vw;
}
.linkbutton {
    font-family: "Comfortaa", sans-serif;
    color:aqua;
    text-align: center;
    font-size: 2.5vw;
    margin: .4vw;
    padding:.78vw;
    display:block;
    flex-grow: 1;
} 
.linkicon{
    vertical-align: middle;
    padding-left: 1vw;
    width: 3vw;
}
.flex{
    display:flex;
    align-items: center;
    justify-content: center;
}
/* styling this made me actually want to end it */
